.aboutPage {
  background-color: #e8f9f7;
  height: 100vh;
  padding-top: 5px;
}

.carouselContainer {
  margin: 0 auto;
  max-width: 90%;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev img,
.slick-next img {
  width: 50px;
  height: 50px;
}

.slick-slider {
  margin: auto;
}

.slick-slide img {
  display: block;
  width: 50%;
  height: 100%;
  margin: auto;
}