.bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e8f9f7;
}

.bookCard  {
    padding: 10px;
    margin: 20px 10px;
    border: solid 1px black;
    flex: 0 1 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(181, 216, 228);
    font-size: 14px;
}

.label{
    font-size: 16px;
    padding: 5%;
}

.label input{
    padding: 10px;
}

.bookCard img{
    padding-bottom: 5px;
}